@import "../../helper/variables.scss";

.pagination {
  // display: block;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-bottom: 24px;
  > li {
    margin: 0 10px;
  }
  .disabled {
    .next,
    .prev {
      border-color: $colorSecondary;
    }
  }

  .next,
  .prev {
    display: block;
    width: 15px;
    height: 15px;
    border-top: 3px solid $colorLink;
    border-left: 3px solid $colorLink;
    transform: rotateZ(-45deg);

    &:hover {
      cursor: pointer;
      text-decoration: none;
    }

    &:active {
      outline: none;
    }
  }

  .page {
    border: 1px solid $colorSecondary;
    // background-color: $colorWhite;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 48px;
    height: 48px;
    border-radius: 8px;
    color: $colorBlack;
  }

  .active {
    border-radius: 8px;
    background-color: $colorLink;
    .page {
      color: $colorWhite;
    }
  }

  .next {
    transform: rotateZ(135deg);
  }
}

.table {
  border-collapse: collapse;
  margin: auto;
  border-radius: 8px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 24px;
}

.thead th {
  background-color: $colorLink;
  color: $colorWhite;
  font-weight: 400;
  padding: 5px 24px;
  border-right: 1px solid $colorWhite;
  &:first-of-type {
    border-top-left-radius: 8px;
  }
  &:last-of-type {
    border-top-right-radius: 8px;
    border: none;
  }
}

.tbody td {
  border-right: 1px solid $colorWhite;
  padding: 6px 24px;
  text-align: center;

  &:nth-of-type(2),
  &:nth-of-type(3) {
    text-align: left;
  }

  &:last-of-type {
    border: none;
  }
}
.tbody tr {
  background-color: #fbfbfb;

  &:nth-of-type(2n) {
    background-color: #f1f1f1;
  }

  &:last-of-type td:first-of-type {
    border-bottom-left-radius: 8px;
    // border-bottom-right-radius: 8px;
  }
  &:last-of-type td:last-of-type {
    // border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}
